{% extends 'layout.jinja2' %}
{% block content %}
<div class="row">
	<div class="col-xs-6" rows="3">
	<img src="{{request.static_url('mood_bot:static/casey.jpeg')}}" class="img-responsive" alt="Responsive image" style="width:400px; meight:300px;">
		My name is Casey. I went to Culinary School. I really like Redbull and Computers.
	</div>
	<div class="col-xs-6" rows="3">
	<img src="{{request.static_url('mood_bot:static/alex.jpg')}}" class="img-responsive" alt="Responsive image" style="width:400px; height:300px;">
		Now I will never wonder what my mood is. -Alex
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-6" rows="3">
	<img src="{{request.static_url('mood_bot:static/kurt.jpg')}}" class="img-responsive" alt="Responsive image" style="width:400px; height:300px;">
		Idk LOL -Kurt
	</div>
	<div class="col-xs-6" rows="3">
	<img src="{{request.static_url('mood_bot:static/anna.jpg')}}" class="img-responsive" alt="Responsive image" style="width:400px; height:300px;">
		Hi I'm Anna
	</div>
</div>
<hr>
{% endblock %}