{% extends 'layout.jinja2' %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		{{ message }}
	</div>
	<div class="col-md-6">
		{{ message }}
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		{{ message }}
	</div>
	<div class="col-md-6">
		{{ message }}

	</div>
</div>
{% endblock %}