{% extends"layout.jinja2" %}
{% block content %}
<h1>Tell me your thoughts and feelings...</h1>
<p>Give Mood Bot your feelings and thoughts, and it will return what it thinks you're feeling. Tell it whatever you want!</p>
  <form method="POST">
    <div class="row">
        <div class="form-group">
            <textarea class="form-control" rows="6" name="body" id="body" placeholder="Here are my feelings, Mood Bot."/></textarea>
        </div>
    </div>    
        <button type="submit" class="btn btn-success">Tell me my mood!</button>
</form>
<br>
{% if response_dict is defined %}
    <h3>Probability</h3>
    <hr>
    {% if request.method == "POST" %}
        <label>Text: </label><p> {{ text_body }} </p>
        <label>Negative: </label><p>{{response_dict['probability']['neg']}}%</p>
        <label>Positive: </label><p>{{response_dict['probability']['pos']}}%</p>
    {% endif %}
{% endif %}
    <div>
        <h3>Previous Results</h3>
        <hr>
    	{% for mind in hallowed_provenance %}
    	<label>Text:</label>
        {% if mind[0][50] is defined %}
            <p>{{ mind[0][0:49] }}...</p>
        {% else %}
            <p>{{ mind[0][0:49] }}</p>
        {% endif %}
        <label>Positive:</label>
        <p>{{ mind[1] }}%</p>
        <label>Negative:</label>
        <p>{{ mind[2] }}%</p>
        <hr>
    	{% endfor %}
    </div>
{% endblock %}
