{% extends"layout.jinja2" %}
{% block content %}
<h1>Tell me your thoughts and feelings...</h1>
<p>Give Mood Bot your feelings and thoughts, and it will return what it thinks you're feeling as well as a link to enhance your mood. Tell it whatever you want!</p>
  <form method="POST">
    <div class="row">
        <div class="form-group">
            <textarea class="form-control" rows="6" name="body" id="body" placeholder="Here are my feelings, Mood Bot."/></textarea>
        </div>
    </div>    
        <button type="submit" class="btn btn-success">Make me feel better!</button>
</form>
<br>
{% if response_dict is defined %}
    <h3>Probability</h3>
    <hr>
    <label>Negative: </label><p>{{response_dict['probability']['neg']}}%</p>
    <label>Positive: </label><p>{{response_dict['probability']['pos']}}%</p>
{% endif %}
{% if consummate_awareness is defined %}
    <div>
    	<h1>Previous Results</h1>
    	{% for knowledge in consummate_awareness %}
    	<p>{{ knowledge }}: {{ consummate_awareness[knowledge] }}</p>
    	{% endfor %}
    </div>
{% endif %}
{{response_chart}}
{% endblock %}