{% extends"layout.jinja2" %}
{% block content %}
<h1>Tell me your thoughts and feelings...</h1>
<p>Give Mood Bot your feelings and thoughts, and it will return what it thinks you're feeling as well as a link to enhance your mood. Tell it whatever you want!</p>
  <form method="POST">
    <div class="row">
        <div class="form-group">
            <textarea class="form-control" rows="6" name="body" id="body" placeholder="Here are my feelings, Mood Bot."/></textarea>
        </div>
    </div>    
        <button type="submit" class="btn btn-success">Make me feel better!</button>
</form>
{{response_text}}

<div>
	<h1>Previous Results</h1>
	{% for row in queries %}
	<p>{{ queries }}</p>
	{% endfor %}
</div>

{% endblock %}