{% extends 'layout.jinja2' %}

{% block content %}

<form method="post">
            <textarea name="body" id="body" placeholder="Enter your deepest feelings:"></textarea><br>
            <input id="submit_button" type="submit" value="Submit">
        </form>
{{response_text}}
{% endblock %}