{% extends 'layout.jinja2' %}

{% block content %}

	<div class="jumbotron">
		<h1>Mood Bot</h1>
		<a class="btn btn-success btn-lg" href="/app">Let me tell you how you're feeling!</a>
	</div>
  
{% endblock %}