{% extends 'layout.jinja2' %}

{% block content %}

	<div class="jumbotron text-center">
		<h1>Mood Bot</h1>
		<p>This page was designed to perform sentiment analysis on Twitter feeds using Python's NLTK package. Simply choose a category and Mood Bot will select a sample of tweets to conduct the analysis on. But first:</p>
		<a class="btn btn-success btn-lg" href="/register">Register</a>
		<a class="btn btn-default btn-lg" href="/login">Login</a>
	</div>
  
{% endblock %}