{% extends "layout.jinja2" %}
{% block content %}
    <form method="POST">
        <input type="text" name="subject" placeholder="Type in subject." required="">
        <<button type="Submit" value="Submit"></button>
    </form>
{% endblock %}